<!DOCTYPE html>
<html>
<head>
  <script>
    window.messages = {{db.lrange('cache',0,-1)|tojson|safe}}
  </script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='../static/js/app.js'></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
  <div id='choiceholder'></div>
  <div id='main'></div>
  <!-- <form action="/advance" method='post' id='1'></form> -->
  <!-- <button type="submit" form="1" value="Submit">advance to the next turn!</button> -->
</body>

</html>
