html{
  background-color: #B7AE9F
}

.holder{
  overflow-y: scroll;
  outline: #7D6003 dotted thick;
  padding: 10px
}

#choiceholder{
  position: absolute;
  left:50%;
  length:50%;
}

#playerinfo{
  width: 25%;
}

#main{
  position: absolute;
  length:50%;
  height: 25%;
}

#refresh{
  position: absolute;
  top: 50%
}
